UseTab: ForIndentation
TabWidth: 4
IndentWidth: 4
ColumnLimit: 80

AlignEscapedNewlines: DontAlign
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 0
BasedOnStyle: WebKit
BraceWrapping:
    AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
IndentPPDirectives: AfterHash
IndentRequiresClause: false
InsertNewlineAtEOF: true
LineEnding: LF
NamespaceIndentation: None
PointerAlignment: Right    # east pointer
QualifierAlignment: Right    # east const
RemoveSemicolon: true
RequiresClausePosition: WithFollowing
RequiresExpressionIndentation: OuterScope
SpaceAfterTemplateKeyword: false
