[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/smath"]
	path = thirdparty/smath
	url = https://github.com/slendidev/smath.git
[submodule "subprojects/fastgltf"]
	path = subprojects/fastgltf
	url = https://github.com/spnda/fastgltf.git
